.large-dialog {
    width: 1400px;
    height: 100%;
}

* {
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
  
  #deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }

  .single-card {
    height: 300px;
    width: 300px;
  }
  
  #deck .card {
    flex: 1 0 21%;
    display: inline-block;
    opacity: 0;
    animation: fadein 500ms ease-in-out;
    animation-delay: 250ms;
    animation-fill-mode: forwards;
  }
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  #deck .card .inner {
    width: 80%;
    padding: 60% 0;
    margin: 10% 10%;
    transform-style: preserve-3d;
    cursor: pointer;
    animation: turn-to-front 250ms ease-in-out;
    animation-fill-mode: forwards;
  }
  #deck .card .inner.turn {
    animation: turn-to-back 250ms ease-in-out;
    animation-fill-mode: forwards;
  }
  @keyframes turn-to-back {
      0%   { transform: scale(1) rotateY(0deg); }
      50%  { transform: scale(.8) rotateY(90deg); }
      100% { transform: scale(1) rotateY(180deg); }
  }
  @keyframes turn-to-front {
      0%   { transform: scale(1) rotateY(180deg); }
      50%  { transform: scale(.8) rotateY(90deg); }
      100% { transform: scale(1) rotateY(0deg); }
  }
  
  
  #deck .card .inner > div {
    position: absolute;
    background: #7FC6A4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 1rem;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.6);
  }
  #deck .card .inner > div.back {
    transform: rotateY(180deg);
  }