
<div *ngIf="canPick">
    <button *ngIf="!deckMode" mat-raised-button color="primary" (click)="toggleDeckMode()">Deck</button>
    <button *ngIf="pickedCard && !deckMode" mat-raised-button color="secondary" (click)="tellOthersClicked()" [disabled]="pickedCard.points === '0'">Tell others</button>
</div>

<div *ngIf="pickedCard && !deckMode" class="single-card">
    <div id="deck">
        <div class="card">
            <div class="inner">
                <div class="front" [ngStyle]="{background: 'url(' + imageUrl + pickedCard.image + ')', 'background-size': 'cover' }"></div>
            </div>
        </div>
    </div>
</div>