.single-player-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: center;
}

.player-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
}

.poker-container {
  width: 100%;
  height: 100%;
}

